#popin-login {
  margin-top: 1em;
  margin-bottom: 1em;
}

.header .columns {
  line-height: 49px;
}

.header .columns:not(:first-child):last-child {
  text-align: right;
}

table {
  width: 100%;
}

#new-inventory .actions {
  line-height: 71px;
}